{% if job.show is not defined or job.show %}
<div class="row">
    <article class="12u 12u$(xsmall)">
        <div class="employer-header job-image">
            <img src="{{ config.asset_root ~ job.image }}" />
        </div>
        <div class="employer-body">
            <h3>{{ job.company }}</h3>
            <h4>{{ job.title }}, <span>{{ job.dates }}</span></h4>
            <p>{{ job.description }}</p>
        </div>
    </article>
</div>
{% endif %}
