<article class="6u 12u$(xsmall) work-item">
    <a href="{{ project.link }}">
        <div class="image-wrap">
            <div href="{{ project.link }}" class="image fit thumb zoom-on-hover" style="background-image:url({{ config.asset_root ~ project.image }})" data-after="{{ project.link_text }}">
                <img class="project-image" src="https://assets.carvelli.io/personal/placeholder.gif" alt="" />
            </div>
        </div>
        <h3>{{ project.name }}</h3>
    </a>
    <p>{{ project.description }}</p>
</article>
