<!DOCTYPE HTML>
<html>
    <head>
        <title>Giovanni Carvelli, Software Engineer</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
        <meta name="keywords" content="gio, giovanni, carvelli, giovannicarvelli, gcarvelli, rit, rochester institute of technology, rsa, rochester software associates, datto, microsoft, orchard" />
        <meta name="description" content="I'm Giovanni, an Associate Software Engineer at Orchard.">
    </head>
    <body id="top">

        <!-- Header -->
            <header id="header">
                <div class="image avatar"><img class="zoom-on-hover" src="{{ profile.image }}" alt="" /></div>
                <h1><strong>I am Gio</strong>, a <br /> Software Engineer at Orchard.</h1>
            </header>

            <div id="main">

                <section id="intro">
                    <header class="major">
                        <h2>{{ profile.title }}</h2>
                    </header>
                    <p>
                        {{ profile.intro }}
                    </p>
                </section>

                <section id="experience">
                    <h2>Experience</h2>
                    {% for job in jobs %}
                        {% render 'job.liquid', job: job, config: config %}
                    {% endfor %}
                    <ul class="actions">
                        <li><a href="{{ profiles[3].link }}" class="button">
                            <i class="fa fa-linkedin" aria-hidden="true"></i> gcarvelli on LinkedIn
                        </a></li>
                    </ul>
                </section>

                <section id="projects">
                    <h2>Projects</h2>
                    <div class="row">
                        {% for project in projects %}
                            {% render 'project.liquid', project: project, config: config %}
                        {% endfor %}
                    </div>
                    <ul class="actions">
                        <li><a href="{{ profiles[1].link }}" class="button">
                            <i class="fa fa-github" aria-hidden="true"></i> @gcarvelli on Github
                        </a></li>
                    </ul>
                </section>

                <section id="contact">
                    <h2>Get In Touch</h2>
                    <p>{{ profile.contact }}</p>
                    <ul class="actions">
                        {% for profile in profiles %}
                            {% if profile.show_in_contact is not defined or profile.show_in_contact %}
                                {% render 'profile-contact.liquid', profile: profile %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>
            </div>

            <footer id="footer">
                <ul class="icons" >
                    {% for profile in profiles %}
                        {% render 'profile-footer.liquid', profile: profile %}
                    {% endfor %}
                </ul>
                <ul class="copyright">
                    <li>Source on <a href="https://github.com/gcarvelli/carvelli-io"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
                    <li>Design by <a href="http://html5up.net">HTML5 UP</a></li>
                    <li>Photo by <a href="https://unsplash.com/@wallsbyjfl">@wallsbyjfl</a></li>
                </ul>
            </footer>

            <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="assets/js/main.js"></script>

    </body>
</html>
