{% if job.show %}
<div class="row">
    <article class="12u 12u$(xsmall)">
        <div class="employer-header job-image">
            <img src="{{ config.asset_root | append: job.image }}" />
        </div>
        <div class="employer-body">
            <h3>{{ job.company }}</h3>
            <h4>{{ job.title }}, <span>{{ job.dates }}</span></h4>
            {% if job.description %}
                <p>{{ job.description }}</p>
            {% else if job.bullets %}
                <ul>
                    {% for bullet in job.bullets %}
                        <li>{{ bullet }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </article>
</div>
{% endif %}
